<!DOCTYPE html>
<html lang="de">

<head>
   <meta charset="utf-8">
   <title>YAMATOBI</title>
   <script src="post.js" defer></script>
   <link rel="stylesheet" href="style.css">
</head>

<body>
   <p>
      ##########################################################################
   </p>

   <h2>Control</h2>

   <button onclick="pureDirectOn()">PureDirect ON</button>
   <br>
   <button onclick="pureDirectOff()">PureDirect OFF</button>
   <br>
   <button onclick="source('AUDIO2')">AUDIO2</button>
   <br>
   <button onclick="source('NET RADIO')">NET RADIO</button>

   <p>
      ##########################################################################
   </p>

   <div>
      <h2>Presets</h2>

      {{range .}}
      <div id="preset_{{.Index}}">
         {{.Index}} :: {{.Name}}
         <br>
         <img src="{{.IconURL}}" width="50" />
         <br>
         <button onclick="send({{.Index}})"># {{.Name}}</button>

         {{end}}
      <div>

</body>

</html>