<!DOCTYPE html>
<html lang="de">

<head>
   <meta charset="utf-8">
   <title>YAMATOBI</title>
   <script src="post.js" defer></script>
   <link rel="stylesheet" href="style.css">
</head>

<body>
   <p>
      ##########################################################################
   </p>

   <h2>Control</h2>

   <button onclick="pureDirectOn()">PureDirect ON</button>
   <br>
   <button onclick="pureDirectOff()">PureDirect OFF</button>
   <br>
   
   <!--<button onclick="source('AUDIO1')">AUDIO2</button>-->
   <a onclick="source('AUDIO1')"><img class="presetImage larger" src="static/source_VINYL.png" /></a>
   <br>
   <!--<button onclick="source('NET RADIO')">NET RADIO</button>-->
   <a onclick="source('NET RADIO')"><img class="presetImage larger" src="static/source_NET_RADIO.png" /></a>

   <p>
      ##########################################################################
   </p>

   <div id="presetList">
      <h2>Presets</h2>

      {{range .}}
      <div id="preset_{{.Index}}">
         {{.Index}} :: {{.Name}}
         <br>
         <a onclick="send({{.Index}})"><img class="presetImage" src="{{.IconURL}}" /></a>
         <br>

         <!--<button class="presetButton" onclick="send({{.Index}})">TUNE</button>-->

         {{end}}
      <div>

</body>

</html>